body{
    min-height: 100vh;
}
.headerDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 198vh; */
    flex-direction: column;
}
.recipeSearch input{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}
.recipeSearch button{
    margin-left: 10px;
}
.img{
    color:black;
}
.title{
    color: black;
}
.card{
    margin-top: 10px;
    margin-left: 10px;
}
.cardInfo{
    box-shadow: 0 0 18px rgb(42, 54, 54);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}
.cardInfo img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.cardInfo h2{
    text-transform: uppercase;
    margin-top: 10px;
    color: rgb(63, 245, 245);
}
.cardInfo button{
    background: #fff;
    border: 1px solid cyan;
    padding: 10px;
    margin-top: 10px;
}
.cardFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.recipeSearch input{
    border: 2px solid cyan;
}
.recipeSearch button{
    background: cyan;
    padding: 10px;
    color: #fff;
}
.wrapper h1{
    font-size: 36px;
    text-transform: uppercase;
    color: aliceblue;
}


.bg-opacity{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 2;
    padding: 20px 0;

}
.mainCol{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 50px;
    /* min-height: 100vh; */
    box-shadow: 0 0 18px black;
    border-radius: 20px;
}
.imageCol{
    width: 40%;
}
.desCol{
    width: 40%;
    margin-left: 150px;
}
.imageCol img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.desCol h1{
    color: rgb(75, 75, 75);
    font-size: 40px;
    text-transform: uppercase;
}
.desCol h4{
    color: aqua;
}
.desCol p{
    font-size: 20px;
}
.desCol ul, ol li{
    font-size: 12px;
}